<button mat-button [matMenuTriggerFor]="menu">Menu principal</button>
<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    [routerLink]="['/crash']"
    routerLinkActive="router-link-active"
  >
    Crash Detector
  </button>
  <button
    mat-menu-item
    [routerLink]="['/videocapture']"
    routerLinkActive="router-link-active"
  >
    Video Capture
  </button>
</mat-menu>
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <img width="300" alt="Angular Logo" src="assets/pwa.png" />
</div>

<router-outlet></router-outlet>
