:host {
  display: flex;
  flex-direction: column;
}

.cdk-overlay-container {
  z-index: 14000;
  .cdk-overlay-pane {
    z-index: 14000 !important;
  }
}

.btn-annuler {
  width: 100%;
  height: 42px;
  left: 0;
  bottom: 0;
  border-radius: 0;
}

span {
  font-size: 20px;
  align-self: center;
  padding: 10px;
}

.img-red-btn {
  align-self: center;
  padding: 20px 0;
}
